/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp, pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: Bentham-Regular;
  src: url(../fonts/Bentham-Regular.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
.content {
  height: auto;
}
.content .accounts {
  display: flex;
  width: 100%;
  min-height: 100%;
  height: auto;
  justify-content: center;
  box-sizing: border-box;
}
.content .accounts #app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.content .accounts #app .accounts-card {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  height: 150px;
  width: 80%;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 5%;
  position: relative;
  align-items: center;
  transition: height ease-in-out 0.4s;
  overflow: hidden;
}
.content .accounts #app .accounts-card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  cursor: pointer;
  background: radial-gradient(#218bb4, transparent);
}
.content .accounts #app .accounts-card .img img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content .accounts #app .accounts-card .img span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  color: white;
}
.content .accounts #app .accounts-card .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.content .accounts #app .accounts-card .form .account-name {
  display: flex;
  height: 50px;
  font-family: Roboto-Regular;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
.content .accounts #app .accounts-card .form .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 45px;
  margin-top: 15px;
  position: relative;
}
.content .accounts #app .accounts-card .form .row label {
  display: inline-block;
  width: 35%;
  text-align: center;
}
.content .accounts #app .accounts-card .form .row input {
  box-sizing: border-box;
  padding: 0 3px;
  outline: none;
  width: 55%;
  text-align: center;
  height: 30px;
  border: 1px solid black;
}
.content .accounts #app .accounts-card .form .row input:disabled {
  background-color: rgba(119, 119, 119, 0.3);
}
.content .accounts #app .accounts-card .form .row select {
  width: 55%;
  height: 30px;
  outline: none;
  border: 1px solid #218bb4;
  background: transparent;
  text-align-last: center;
}
.content .accounts #app .accounts-card .form .row span {
  position: absolute;
  right: -5%;
  font-size: 1.5rem;
  cursor: pointer;
}
.content .accounts #app .accounts-card .form .row span.mdi-eye-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2.5%;
  width: 30px;
  height: 30px;
}
.content .accounts #app .accounts-card .edit-save-button {
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 120px;
  border: 1px solid red;
  cursor: pointer;
  align-self: flex-end;
  position: relative;
  display: flex;
  margin-right: 10px;
  transition: all ease-in-out 0.3s;
  margin-bottom: 10px;
}
.content .accounts #app .accounts-card .edit-save-button span {
  position: absolute;
  right: 5px;
  transition: all ease-in-out 0.3s;
}
.content .accounts #app .accounts-card:last-child {
  margin-bottom: 5%;
}

.card {
  background-color: white;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
}

.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}
.card-header-title.is-centered {
  justify-content: center;
}

.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}

.card-image {
  display: block;
  position: relative;
}

.card-content {
  background-color: transparent;
  padding: 1.5rem;
}

.card-footer {
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}
.card-footer-item:not(:last-child) {
  border-right: 1px solid #ededed;
}

.card .media:not(:last-child) {
  margin-bottom: 1.5rem;
}

body,
html {
  display: flex;
  width: 100%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  top: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
.sidebar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  background-color: #218bb4;
  min-height: 580px;
  height: 100%;
  min-width: 230px;
  width: 25%;
  position: fixed;
  z-index: 5;
  transition: all ease-in-out 0.4s;
}
.sidebar .header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  height: 25%;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 15%;
  font-family: Bentham-Regular;
  font-size: 2.2rem;
  text-align: center;
}
.sidebar .header .icon {
  font-size: 4rem;
}
.sidebar .element {
  min-height: 55px;
  width: 80%;
  align-self: center;
  height: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  transition: all ease-in-out 0.2s;
  text-align: left;
  font-size: 1rem;
  font-family: Roboto-Regular;
}
.sidebar .element span {
  font-size: 1.5rem;
  margin-right: 5%;
}
.sidebar .element:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid white;
}
.sidebar .element.active {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.sidebar .footer {
  position: absolute;
  color: white;
  align-self: center;
  bottom: 0;
  height: 5%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: Roboto-Regular;
}

.outfocus-responsive-menu {
  min-height: 580px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: -100%;
  z-index: 4;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}

.content {
  position: relative;
  min-height: 580px;
  height: auto;
  width: 75%;
  box-sizing: border-box;
  left: 25%;
}
.content .responsive-menu-button {
  display: none;
}
.content .home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.content .home .card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  background-color: #218bb4;
  color: white;
  min-height: 450px;
}
.content .home .card .card-content {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: justify;
  flex-direction: column;
}
.content .home .card .card-content .subtitle {
  font-size: 0.9rem;
  color: red;
}
.content .home .card .card-footer {
  display: flex;
  height: 30%;
}
.content .home .card .card-footer a {
  color: white;
}
.content .home .card .card-footer .card-footer-item {
  position: relative;
}
.content .home .card .card-footer .card-footer-item .mdi {
  position: absolute;
  font-size: 2.5rem;
  left: 8%;
}
.content .home .card .card-footer .card-footer-item .mdi-linkedin {
  left: 13%;
}
.content .home .card .card-footer .card-footer-item span {
  text-align: center;
}
.content .accounts {
  display: none;
}
.content .passwords-generator {
  display: none;
}
.content .configuration {
  display: none;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .sidebar {
    position: absolute;
    left: -230px;
  }

  .content {
    width: 100%;
    left: 0;
  }
  .content .responsive-menu-button {
    display: flex;
    font-size: 1.5rem;
    margin: 2% 0 0 2%;
    cursor: pointer;
    height: 5%;
    width: 5%;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  .content .home .card {
    margin-top: 5%;
    width: 90%;
    height: 80%;
  }
  .content .home .card .card-footer .card-footer-item .mdi {
    top: -10%;
    left: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .sidebar {
    width: 30%;
  }

  .content {
    width: 70%;
    left: 30%;
  }
  .content .home .card {
    width: 90%;
    height: 70%;
  }
  .content .home .card-footer .card-footer-item .mdi {
    top: -10%;
    left: auto !important;
  }
}
@media (max-width: 575.98px) {
  .sidebar {
    position: absolute;
    left: -230px;
  }

  .content {
    width: 100%;
    left: 0;
  }
  .content .responsive-menu-button {
    display: flex;
    font-size: 1.5rem;
    margin: 2% 0 0 5%;
    cursor: pointer;
    height: 5%;
    width: 5%;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  .content .home .card {
    margin-top: 5%;
    height: 90%;
    width: 90%;
  }
  .content .home .card .card-footer .card-footer-item .mdi {
    top: -10%;
    left: auto !important;
  }
}

/*# sourceMappingURL=home.css.map */
