@use './helpers';

.configuration {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;

	.card-config {
		box-sizing: border-box;
		width: 60%;
		height: 90%;
		max-height: 500px;
		min-height: 380px;
		max-width: 600px;
		-webkit-box-shadow: 3px 13px 24px -4px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 3px 13px 24px -4px rgba(0, 0, 0, 0.75);
		box-shadow: 3px 13px 24px -4px rgba(0, 0, 0, 0.75);
		display: flex;
		flex-direction: column;

		.header {
			background-color: rgb(33, 139, 180);
			height: 20%;
			display: flex;
			align-items: center;
			justify-content: center;

			h1 {
				color: white;
				font-family: Roboto-Regular;
				text-align: center;
				font-size: 1.5rem;
				font-weight: 100;
			}

			span {
				color: white;
				font-size: 4rem;
				margin: 0 20px;
			}
		}

		.body {
			display: flex;
			flex-direction: column;
			margin: 25px 0;
			align-items: center;
			height: 70%;
			justify-content: center;

			.row {
				display: flex;
				width: 80%;
				height: 35px;
				align-items: center;
				margin: 10px 0;

				label {
					text-align: center;
					width: 50%;
				}

				input {
					box-sizing: border-box;
					width: 50%;
					height: 30px;
					border: 1px solid rgb(33, 139, 180);
					text-align: center;
				}

				input:focus {
					outline: none;
				}

				input:disabled {
					background-color: rgba($color: #777777, $alpha: 0.3);
				}
			}

			.row.actions-buttons {
				height: 55px;
				justify-content: space-evenly;

				.button {
					@include helpers.no-select;
					border: 1px solid rgb(33, 139, 180);
					height: 40px;
					width: 40%;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					transition: all ease-in-out 0.3s;
					text-align: center;
				}

				.button.button-edit:hover {
					background-color: rgb(33, 139, 180);
					color: white;
				}
				.button.button-delete-account:hover {
					background-color: rgb(250, 74, 74);
					border: none;
					color: white;
				}
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.configuration {
		.card-config {
			width: 85%;
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.configuration {
		.card-config {
			width: 85%;
		}
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.configuration {
		.card-config {
			margin-top: 30px;
			width: 85%;
		}
	}
}

@media (max-width: 575.98px) {
	.configuration {
		.card-config {
			margin-top: 30px;
			width: 85%;
			height: 520px;
			max-height: 520px;
			.header {
				h1 {
					font-size: 1.25rem;
				}
				height: 30%;
			}

			.body {
				.row {
					width: 95%;
				}
			}
		}
	}
}
