@use 'custom_bootstrap';

.main-container {
	background: rgb(2, 0, 36);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 20%,
		rgba(0, 212, 255, 1) 100%
	);
	min-height: 100vh;

	.form-col {
		min-height: 520px;

		form {
			width: 75%;
		}
	}
}

@media (max-width: 576px) {
	.main-container {
		.form-col {
			form {
				width: 100%;

				div {
					margin-left: 0px !important;
					margin-right: 0px !important;
				}
			}
		}
	}
}
