@use 'custom_bootstrap';

.main-container {
	background: #0250c5;
	background: -webkit-linear-gradient(bottom, #0250c5, #56ced6);
	min-height: 100vh;

	.form-col {
		min-height: 560px;

		form {
			width: 75%;
		}
	}
}

@media (max-width: 576px) {
	.main-container {
		.form-col {
			form {
				width: 100%;

				div {
					margin-left: 0px !important;
					margin-right: 0px !important;
				}
			}
		}
	}
}
