<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="./apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="./favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="./favicon-16x16.png"
		/>
		<link rel="manifest" href="./site.webmanifest" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<link rel="stylesheet" href="./css/home.css" />
		<link rel="stylesheet" href="./css/materialdesignicons.min.css" />
		<link rel="stylesheet" href="./css/cute-alert.css" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
		/>
		<title>Home - Passwords Manager</title>
	</head>
	<body>
		<div id="loader" class="background-loader">
			<div class="loader"></div>
			Cargando...
		</div>
		<div id="snackbar">Some text some message..</div>
		<div class="sidebar">
			<div class="header">
				<div class="icon">
					<span class="mdi mdi-lock-outline"></span>
				</div>
				Passwords Manager
			</div>
			<div class="element">
				<span class="mdi mdi-home-outline"></span>
				Inicio
			</div>
			<div class="element">
				<span class="mdi mdi-account-box-multiple-outline"></span>
				Cuentas
			</div>
			<div class="element">
				<span class="mdi mdi-security"></span>
				Generador de contraseñas
			</div>
			<div class="element">
				<span class="mdi mdi-nut"></span>
				Configuración
			</div>
			<div class="element">
				<span class="mdi mdi-logout"></span> Salir
			</div>

			<div class="footer">
				Elber Nava 2020
			</div>
		</div>

		<div class="outfocus-responsive-menu"></div>

		<div class="content">
			<div id="loader-content" class="background-loader">
				<div class="loader"></div>
				Cargando...
			</div>
			<div id="responsive-menu-button" class="responsive-menu-button">
				<span class="mdi mdi-menu"></span>
			</div>
			<div class="home">
				<div class="card">
					<div class="card-content">
						<p class="title">
							Nunca más olvidarás las credenciales de acceso a
							redes sociales, además podrás crear contraseñas
							robustar con la herramienta creación de contraseñas
							seguras!
						</p>
						<p class="subtitle">
							* Estás en una version de solo muestra, se
							recomienda que no intentes guardar ningún dato,
							aunque si lo haces no se almacenará en niguna base
							de datos.
						</p>
					</div>
					<footer class="card-footer">
						<p class="card-footer-item">
							<span class="mdi mdi-gitlab"></span>
							<span>
								Ver código fuente en
								<a href="#">gitlab</a>
							</span>
						</p>
						<p class="card-footer-item">
							<span class="mdi mdi-linkedin"></span>
							<span>
								Elber Nava en <a href="#">LinkedIn</a>
							</span>
						</p>
					</footer>
				</div>
			</div>
			<div class="accounts">
				<div id="app">
					<div
						class="accounts-card new-account"
						@mouseover="overAccountCard('#218bb4')"
						@mouseleave="leaveAccountCard"
					>
						<div class="img" @click="showInfo('#218bb4')">
							<span
								id="new-account"
								class="mdi mdi-account-plus"
							></span>
						</div>
						<div class="form">
							<div class="account-name">
								Agregar Cuenta
							</div>
							<div class="row new-account">
								<label for=""
									>Selecciona el tipo de cuenta</label
								>
								<select id="selectNewAccount" name="select">
									<option
										value="none"
										selected
										disabled
										hidden
										>Tipo de cuenta</option
									>
									<option
										v-for="account of accounts"
										:value="account.id"
										>{{account.name}}</option
									>
								</select>
							</div>
							<div class="row">
								<label for="">Nombre de usuario</label>
								<input
									type="text"
									v-on:keyup.enter="selectNextInput"
								/>
							</div>
							<div class="row">
								<label for="">Contraseña</label>
								<input
									type="password"
									v-on:keyup.enter="inputPasswordNewAccountKeyupEnter"
								/>
								<span
									class="mdi mdi-eye-outline"
									@click="changeInputType(true)"
								></span>
							</div>
							<div
								@mouseover="buttonEditSaveHover('#218bb4')"
								@mouseleave="buttonEditSaveLeave('#218bb4')"
								class="edit-save-button"
								@click="addUserAccount"
							>
								Agregar
								<span
									class="mdi mdi-content-save-outline"
								></span>
							</div>
						</div>
					</div>
					<div
						:class="index == 0 ? 'accounts-card saved-accounts display-none' : 'accounts-card saved-accounts'"
						v-for="(account, index) in userAccounts"
						:key="account.id"
						:id="account.id"
						@mouseover="overAccountCard(account.account.dominantColor)"
						@mouseleave="leaveAccountCard"
					>
						<div
							class="img"
							:style="{background:'radial-gradient(' + account.account.dominantColor + ',transparent)'}"
							@click="showInfo(account.account.dominantColor)"
						>
							<img :src="account.account.urlImg" alt="" />
						</div>
						<div class="form">
							<div class="account-name">
								{{account.account.name}}
							</div>
							<div class="row">
								<label for="">Nombre de usuario</label>
								<input
									type="text"
									:value="account.username"
									v-on:keyup.enter="selectNextInput"
									disabled
								/>
								<span
									class="mdi mdi-content-copy"
									@click="copytoClipboard"
								></span>
							</div>
							<div class="row">
								<label for="">Contraseña</label>
								<input
									type="password"
									:value="account.password"
									v-on:keyup.enter="inputPasswordEditAccountKeyupEnter"
									disabled
								/>
								<span
									class="mdi mdi-content-copy"
									@click="copytoClipboard"
								></span>
								<span
									class="mdi mdi-eye-outline"
									@click="changeInputType(false)"
								></span>
							</div>
							<div class="row actions-buttons">
								<div
									@mouseover="buttonEditSaveHover(account.account.dominantColor)"
									@mouseleave="buttonEditSaveLeave(account.account.dominantColor)"
									@click="buttonEditSaveClick(account.account.dominantColor)"
									class="edit-save-button"
								>
									Editar
									<span
										class="mdi mdi-square-edit-outline"
									></span>
								</div>
								<div
									@mouseover="buttonEditSaveHover(account.account.dominantColor)"
									@mouseleave="buttonEditSaveLeave(account.account.dominantColor)"
									class="button-delete"
									@click="confirmDeleteUserAccount(account.id)"
								>
									Borrar
									<span
										class="mdi mdi-square-edit-outline"
									></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="passwords-generator">
				<div class="passwords-generator-card">
					<div class="header">
						<span class="mdi mdi-security"></span>Generador De
						Contraseñas Seguras<span
							class="mdi mdi-security"
						></span>
					</div>
					<div class="body">
						<div class="row">
							<label for="">Carácteres Especiales</label>
							<input id="specialCharacters" type="text" />
						</div>
						<div class="row length">
							<label for="">Longitud</label>
							<input type="text" id="length" disabled value="8" />
							<div
								class="button-plus"
								onclick="changeLength('add')"
							>
								+
							</div>
							<div
								class="button-down"
								onclick="changeLength('decrease')"
							>
								-
							</div>
						</div>
						<div class="row radios">
							<label for="">Números</label>
							<input
								id="radio1"
								onclick="unselectMe()"
								type="radio"
							/>
							<label for="">Solo Mayúsculas</label>
							<input
								id="radio2"
								onclick="unselectOther()"
								type="radio"
							/>
							<label for="">Solo Minúsculas</label>
							<input
								id="radio3"
								onclick="unselectOther()"
								type="radio"
							/>
						</div>
						<div class="row">
							<div
								class="button-generate"
								onclick="generatePassword()"
							>
								Generar
							</div>
						</div>
						<div class="row generated-password-label">
							<label for="">Contraseña Generada</label>
						</div>
						<div class="row generated-password">
							<input
								type="text"
								id="generated-password-input"
								disabled
							/>
							<span
								onclick="copytoClipboard()"
								class="mdi mdi-content-copy"
							></span>
						</div>
					</div>
				</div>
			</div>
			<div class="configuration">
				<div class="card-config">
					<div class="header">
						<span class="mdi mdi-nut"></span>
						<h1>Configuración de la cuenta de Passsword Manager</h1>
						<span class="mdi mdi-nut"></span>
					</div>
					<div class="body" id="form-account-user">
						<div class="row">
							<label for="">Nombre de usuario</label>
							<input disabled type="text" />
						</div>
						<div class="row">
							<label for="">Correo Registrado</label>
							<input
								id="input-edit-account-email"
								disabled
								type="text"
							/>
						</div>
						<div class="row">
							<label for="">Contraseña</label>
							<input
								id="input-edit-account-password"
								disabled
								password
								type="password"
							/>
						</div>
						<div class="row">
							<label for="">Fecha de creación de la cuenta</label>
							<input disabled type="text" />
						</div>
						<div class="row actions-buttons">
							<div
								onclick="buttonEditSaveClick()"
								class="button button-edit"
							>
								Editar
							</div>
							<div
								onclick="DeleteMeAccount()"
								class="button button-delete-account"
							>
								Eliminar mi cuenta
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="./js/vue.js"></script>
		<script src="./js/axios.min.js"></script>
		<script src="./js/cute-alert.js"></script>
		<script src="./js/axios-request.js"></script>
		<script src="./js/home.js"></script>
		<script src="./js/home-accounts.js"></script>
		<script src="./js/home-password-generator.js"></script>
		<script src="./js/validations.js"></script>
		<script src="./js/home-config.js"></script>
	</body>
</html>
